doctype html
html(lang="en")
    head
        block meta
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(charset="UTF-8")
            meta(http-equiv="content-language" content="en")

        block styles
            link(rel="stylesheet" href="/assets/styles/googlefonts.css")
            link(rel="stylesheet" href="/assets/styles/fontawesome.min.css")
            link(rel="stylesheet" href="/assets/styles/all.css")

        block scripts
            script(defer src="/assets/scripts/all.bundle.js")
    body
        .background-wrapper
            #background-dots
        .anim-wrapper
            block anim-wrapper
                .mouse-circle

        block before-content

        .content
            block content
                h1 404 not found

        block footer
            footer.footer
                p.copyright (c) Nils Schneider-Sturm 2022
                //a(href="/imprint/") Imprint