extends ../assets/layout/layout

block append styles
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="/assets/styles/dark.css")

block append scripts
    script(defer src="script.js")

block content

    .top-part
        h1.title Portfolio


    .projects: each proj in projects
        a(href="details/" + proj.path).project.no-hover-effect.screen-transition
            if proj.preview_img_url
                img(src=proj.preview_img_url).background-image
            else
                img(src="https://via.placeholder.com/400x300/eeeeee").background-image

            .text-overlay
                each tech in proj.technologies
                    .line= tech

            .name-overlay
                p.proj-title= proj.title
                p.proj-name= proj.name