-
    var projects = [
        /*{
            title: "PartyFinder",
            name: "PartyFinder",
            date: {
                month: "July",
                year: "2022"
            },
            url: "https://wheresthe.party/",
            code_url: "https://strukteon.net/projects",
            technologies: ["Docker", "React", "Symfony"],
        },
        {
            title: "music queue program",
            name: "musiq",
            date: {
                month: "February",
                year: "2022"
            },
            url: "https://musiq.com/",
            code_url: "https://strukteon.net/projects",
            technologies: ["Docker", "VueJS", "NodeJS", "ExpressJS"],
        },*/
        {
            title: "Personal Homepage",
            date: {
                month: "August",
                year: "2020"
            },
            name: "strukteon.net",
            url: "https://strukteon.net/",
            img_url: ["/portfolio-old/images/homepage_image1.png"],
            technologies: ["Docker", "VueJS", "NodeJS", "ExpressJS"],
        },
        {
            title: "Online wineshop",
            date: {
                month: "2021 -",
                year: "2022"
            },
            name: "Vinoshop",
            img_url: ["/portfolio-old/images/vinoshop_image1.png"],
            url: "https://vinoshop.at",
            technologies: ["PHP", "JavaScript", "Shopware", "Symfony"],
        },
        {
            title: "Addon for Discord",
            date: {
                month: "February",
                year: "2018"
            },
            name: "MyRichPresence",
            img_url: ["/portfolio-old/images/myrpc_image1.png"],
            url: "https://strukteon.net/projects",
            code_url: "https://github.com/strukteon/MyRichPresence",
            technologies: ["Java", "JavaFX"],
        },
        {
            title: "Addon for Discord",
            date: {
                month: "February",
                year: "2018"
            },
            name: "MyRichPresence",
            img_url: ["/portfolio-old/images/myrpc_image1.png"],
            url: "https://strukteon.net/projects",
            code_url: "https://github.com/strukteon/MyRichPresence",
            technologies: ["Java", "JavaFX"],
        },
        {
            title: "More Projects on",
            name: "GitHub",
            date: {
                month: "since",
                year: "2015"
            },
            img_url: ["https://github-readme-stats.vercel.app/api/top-langs/?username=strukteon&bg_color=111111&title_color=eeeeee&text_color=dddddd&langs_count=10&layout=compact"],
            url: "https://github.com/strukteon",
            technologies: ["TypeScript", "Kotlin", "and more"],
        },
    ]