-
    var projects = [
        /*{
            title: "PartyFinder",
            name: "PartyFinder",
            date: {
                month: "July",
                year: "2022"
            },
            url: "https://wheresthe.party/",
            code_url: "https://strukteon.net/projects",
            technologies: ["Docker", "React", "Symfony"],
        },
        {
            title: "music queue program",
            name: "musiq",
            date: {
                month: "February",
                year: "2022"
            },
            url: "https://musiq.com/",
            code_url: "https://strukteon.net/projects",
            technologies: ["Docker", "VueJS", "NodeJS", "ExpressJS"],
        },*/
        {
            title: "Personal Homepage",
            date: {
                month: "August",
                year: "2020"
            },
            name: "strukteon.net",
            url: "https://strukteon.net/",
            img_url: ["/portfolio/images/homepage_image1.png"],
            images: [{
                src: "/portfolio/images/vinoshop_image1.png",
                type: "imac",
                device_pos: [ 600 / 2 - 318 / 2, 400 / 2 - 281 / 2 ],
                device_scale: 1.2,
            }],
            technologies: ["Docker", "VueJS", "NodeJS", "ExpressJS"],
            facts: [{
                fact_title: "Downloads",
                fact_value: "> 180.000"
            }]
        },
        {
            title: "Online wineshop",
            date: {
                month: "2021 -",
                year: "2022"
            },
            name: "Vinoshop",
            img_url: ["/portfolio/images/vinoshop_image1.png"],
            url: "https://vinoshop.at",
            technologies: ["PHP", "JavaScript", "Shopware", "Symfony"],
        },
        {
            title: "Addon for Discord",
            date: {
                month: "February",
                year: "2018"
            },
            name: "MyRichPresence",
            img_url: ["/portfolio/images/myrpc_image1.png"],
            url: "https://strukteon.net/projects",
            code_url: "https://github.com/strukteon/MyRichPresence",
            technologies: ["Java", "JavaFX"],
        },
        {
            title: "More Projects on",
            name: "GitHub",
            date: {
                month: "since",
                year: "2015"
            },
            img_url: ["/portfolio/images/myrpc_image1.png"],
            url: "https://github.com/strukteon",
            technologies: ["TypeScript", "Kotlin", "and more"],
        },
    ];

    var proj = projects[0]

    var devices = [
        {
            name: "imac",
            src: "/portfolio/images/imac.png",
            dimensions: [ 318, 281 ],
            frame: {
                pos: [15, 15],
                dimensions: [ 287, 161 ],
                aspect_ratio: "16 / 9"
            }
        }
    ]