
.go-back-btn {
    font-weight: 800;
    margin: 2rem !important;
}

.content {
    max-width: 1200px;
    margin-top: 4rem;
}
.project-title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.75rem;
    margin: 0;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, .4);
}

.project-name {
    text-transform: uppercase;
    font-weight: 800;
    font-size: min(2.75rem, 10vw);
    margin: 0;
    line-height: 2.25rem;
}

.project-description {
    font-weight: 500;
    color: rgba(255, 255, 255, .6);
    font-size: 1.2rem;
    max-width: 550px;
}

.project-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.project-overview > * {
    margin: 1rem;
}

.preview-images {
    --scale: calc(min(600, calc(var(--window-width) * 0.9)) / 600);
    position: relative;
    display: block;
    aspect-ratio: 3 / 2;
    width: 600px;
    height: calc(400px);
    transform: scale(var(--scale));
    margin-top: calc(calc(var(--scale) - 1) * 10rem);
    margin-bottom: calc(calc(var(--scale) - 1) * 8rem);
}

.image {
    position: absolute;
    width: var(--device-width);
    height: var(--device-height);
    top: var(--device-pos-y);
    left: var(--device-pos-x);
    transform: scale(var(--device-scale)) translateX(0) translateY(0);
    transition: all .5s ease;
}
.image .device {
    width: var(--device-width);
    height: var(--device-height);
    position: absolute;
}
.image .frame {
    position: absolute;
    width: var(--device-frame-width);
    height: var(--device-frame-height);
    top: var(--device-frame-pos-y);
    left: var(--device-frame-pos-x);
    border-radius: var(--device-frame-radius);
}
.technologies .value {
    color: rgba(255, 255, 255, .8);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.technologies .value i {
    width: 40px;
    color:rgba(255, 255, 255, .6);
}
.technologies .value > * {
    line-height: 1.8rem;
    margin: 0;
}
.aside .fact .fact-title, .technologies .fact-title {
    color: rgba(255, 255, 255, .4);
    font-size: 1.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.aside .fact .fact-value, .aside .fact .fact-value > * {
    margin: 0;
    color: rgba(255, 255, 255, .8);
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.75rem;
}
.aside .fact .fact-value {
    transform: translateY(-12px);
}

.actions {
    margin-top: min(3rem, 4vw);
    margin-bottom: 3rem;
}
.actions > * {
    margin: 1rem !important;
}



.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(50%);
    transition: opacity .2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
}
.image-overlay.visible {
    opacity: 1;
    pointer-events: unset;
}
.image-overlay button {
    display: block;
    color: rgba(255, 255, 255, .8);
    border-color: transparent;
    font-size: 2rem;
    background-color: transparent;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    opacity: 1;
    transition: color .2s ease;
}
.image-overlay button:not([disabled]):hover {
    color: white;
}
.image-overlay button[disabled] {
    color:rgba(255, 255, 255, .3);
    cursor: default;
    border-color: transparent;
}
.image-overlay .image {
    top: 0;
    left: 0;
    transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%)) scale(var(--device-scale));
}
.image-overlay .image:not(.is-visible) {
    display: none;
}